In [71]:
import pandas as pd
df = pd.read_csv(r"spotify_millsongdata.csv")
df_sample = df.sample(frac = 0.1)

In [64]:
df_sample.head(5)

,artist,song,link,text
21894,Yazoo,Too Pieces,/y/yazoo/too+pieces_20323830.html,Write me a letter a face in the hall \r\nHidi...
32941,Frank Zappa,"Carol, You Fool",/f/frank+zappa/carol+you+fool_20056965.html,"Frank zappa (lead guitar, vocals) \r\nIke wil..."
193,Aerosmith,Rockin' Pneumonia And The Boogie Woogie Flu,/a/aerosmith/rockin+pneumonia+and+the+boogie+w...,I want to jump but I'm afraid I'll fall \r\nI...
11130,Lady Gaga,Rock Show,/l/lady+gaga/rock+show_20780310.html,Hold her hand through the black light \r\nBab...
32721,Foo Fighters,The Pretender,/f/foo+fighters/the+pretender_20452063.html,Keep you in the dark \r\nYou know they all pr...

In [65]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [66]:
df_sample.shape

(5765, 4)

In [67]:
df_sample.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [72]:
df_sample = df_sample.drop('link',axis = 1).reset_index(drop=True)

In [47]:
df_sample.head(5)

,artist,song,text
0,Dean Martin,All Of Me,All of me \r\nWhy not take all of me \r\nCan...
1,Fatboy Slim,So In Love With You (Duke),"Woman... I can't live, \r\nLive without you i..."
2,Tina Turner,Lovin' Him Was Easier,I have seen the morning burning golden on the ...
3,INXS,Elegantly Wasted,Look at all that shines \r\nBaby's down on th...
4,Kenny Rogers,Don't Look In My Eyes,All my memory is safely packed \r\nAnd my dre...

In [48]:
df_sample['text'][0]

"All of me  \r\nWhy not take all of me  \r\nCan't you see  \r\nI'm no good without you  \r\nTake my lips  \r\nI want to lose them  \r\nTake my arms  \r\nI'll never use them  \r\nYour goodbye  \r\nLeft me with eyes that cried  \r\nHow can I  \r\nGo on dear without you  \r\nYou took the part that once was my heart  \r\nSo why not take all of me  \r\nLeft me with eyes that cried  \r\nGo on dear without you  \r\nYou took the part that once was my heart  \r\nSo why not take all of me\r\n\r\n"

In [73]:
df_sample.shape

(5765, 3)

In [74]:
#text cleaning
df_sample['text'] = df_sample['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [33]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91727\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [75]:
stemmer = PorterStemmer()

In [76]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [77]:
df_sample['text'].apply(lambda x: token(x))

0       after you 're gone , babi ride the soft machin...
1       [ intro ] bakit ba mapaglaro ang buhay problem...
2       babi 's good to me you know she 's happi as ca...
3       when our power structur creat sound the wall o...
4       you say you 're not gon na fight 'caus no one ...
                              ...
5760    do n't break thi rhythm , do n't break thi mot...
5761    the silent fall of even snow anoth thing you c...
5762    onc wa a time you and i made a promis till the...
5763    how wonder to know you realli love me how wond...
5764    kahaa chalaa aye mere joge , jeewan se too bha...
Name: text, Length: 5765, dtype: object

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [78]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [79]:
matrix = tfid.fit_transform(df_sample['text'])

In [80]:
similar = cosine_similarity(matrix)

In [81]:
similar[0]

array([1.        , 0.00167887, 0.01480176, ..., 0.01689591, 0.01878756,
       0.        ])

In [82]:
df_sample.tail(5)

,artist,song,text
5760,Peter Gabriel,Don't Break This Rhythm,"don't break this rhythm, don't break this moti..."
5761,Bob Seger,The Long Goodbye,the silent fall of evening snow \r another th...
5762,Rihanna,The Last Time,once was a time you and i \r made a promise t...
5763,Cliff Richard,How Wonderful To Know,how wonderful to know you really love me \r h...
5764,Lata Mangeshkar,Kaha Chala Aye Mere Jogi,"kahaa chalaa aye mere jogee, jeewan se too bha..."

In [83]:
df[df['song'] == 'The Last Time'].index[0]

1335

Recommender Function

Recommender Function

In [86]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])),reverse = True,key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [87]:
recommender("The Last Time")

['50 Ways To Eat Your Lover',
 'Shadow Of The Sun',
 'Need Your Love So Bad',
 "I'm Ready",
 'Miss You',
 'September Blue',
 'Halloween',
 'If The World Crashes Down',
 '4Th Time Around',
 'The Day Before You Came',
 "C'est Magnifique",
 'Alfie',
 'Make Me Feel Better',
 'Rock N Roll',
 'Another Park, Another Sunday',
 'The King Has Lost His Crown',
 'Easy From Now On',
 'Lies',
 'Find Myself',
 "What'd I Say"]

In [88]:
import pickle

In [91]:
pickle.dump(similar, open("similarity","wb"))

In [92]:
pickle.dump(df,open("df","wb"))